.navbar-brand {
    font-size: 30px;
    padding: 15px;
    float: none;
    text-align: center;
    margin: auto;
}
.nav-link:hover {
    text-decoration: underline;
}
.nav-link:active {
    text-decoration: underline;
}
.nav-home{
    font-size: 35px;
    padding: 15px;
    font-weight: bold;
}
.jumbotron {
    max-width: 600px;
    margin: auto;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    border-color: black;
    border-width: 20px;
    text-align: center;
}
.copyright {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    display: inline-flex;
    background-color: rgba(231, 76, 60, 1);
}
.copyright p{
    margin-left: auto;
    margin-right: 40px;
    font-size: 20px;
    padding: 5px;
}
.footer-link{
    margin-right: auto;
    margin-left: 40px;
    font-size: 20px;
    text-decoration: none;
    color: white;
    padding: 5px;
}
.signature label{
    color: black;
}
.signature input{
    width: 80%;
    margin: auto;
    color: white;
}
.signature input:focus{
    color: white;
}
.signature fieldset{
    background-color: rgb(219, 218, 218);
    margin: auto;
    width: 200px;
    box-shadow: 10px 10px 8px grey;
    padding: 10px;
    border-radius: 10px;
}
.signature-element h3{
    color: black;
    margin: auto;
    padding: 20px;
}
.signature-element {
    background-color: grey;
    border: 1px solid black;
    border-radius: 10px;
    margin-top: 10px;
}

.carousel {
    min-width: 300px;
    min-height: 300px;
    background-color: teal;
    border: 1px solid black;
    border-radius: 10px;
    text-align: center;
}
.carousel h1{
    padding: auto;
    padding-top: 100px;
    padding-left: 20px;
    padding-right: 20px;
}